{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container py-5">
    <h2>Edit Profile</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div style="color:red;">{{ form.non_field_errors }}</div>
        {% endif %}
        
        <div class="card border-primary mb-3">
            <div class="card-body">
                <div class="form-check form-switch">
                    {{ form.is_provider|as_crispy_field }}
                    <small class="d-block mt-1">
                        Switch this on to become a provider and start creating skill listings.
                    </small>
                </div>
            </div>
        </div>

        <p>
        {{ form.profile_image.label_tag|crispy }}<br>
        {{ form.profile_image|as_crispy_field }}
        {% if form.profile_image.errors %}
        <div style="color:red;">{{ form.profile_image.errors }}</div>
        {% endif %}
        </p>

        <p>{{ form.first_name.label_tag|crispy }}<br>{{ form.first_name|as_crispy_field}}</p>
        <p>{{ form.last_name.label_tag|crispy }}<br>{{ form.last_name|as_crispy_field }}</p>
        <p>{{ form.bio.label_tag|crispy }}<br>{{ form.bio |as_crispy_field }}</p>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">
                Save Profile Changes
            </button>
        </div>
    </form>
    <div class="mt-3">
        <a href="{% url 'delete_profile' %}" class="btn btn-outline-danger w-100 py-2"
            onclick="return confirm('WARNING: Are you sure you want to delete your profile? This will delete all your listings and cannot be undone.');">
            Delete My Account
        </a>
    </div>
</div>

{% endblock %}