{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<section class="hero d-flex justify-content-center">
  <img src="{% static 'images/skillshop_main.jpg' %}" alt="SkillShop" class="hero-img img-fluid">
</section>

<!-- CARDS -->
<div class="container text-center">
  <div class="row justify-content-center g-4">

    <!-- CARD 1 -->

    <div class="col-12 col-md-5">

      <div class="card p-4 h-100">
        <h4 class="mb-3 card-text">Do you need the services of a skilled person?</h4>
        <a class="btn btn-dark" href="{% url 'search' %}">Search</a>
      </div>

    </div>

    <!-- CARD 2 -->
    <div class="col-12 col-md-5">

      <div class="card p-4 h-100">
        <h4 class="mb-3 card-text">Do you have a skill you would like to offer?</h4>
        {% if user.is_authenticated %}
        {% if user.profile.is_provider %}
        <a class="btn btn-dark" href="{% url 'create_listing' %}">Create a listing</a>
        {% else %}
        <a class="btn btn-dark" href="{% url 'edit_profile' %}">Become a provider</a>
        {% endif %}
        {% else %}
        <a class="btn btn-dark" href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}