{% extends "base.html" %}
{% block content %}

<h2>Services near you</h2>

<ul>
    {% for listing in listings %}
    <li>
        <strong>{{ listing.skill.name }}</strong>
        — £{{ listing.price }}
        <br>
        Provider: {{ listing.provider.display_name }}
        <br>
        Location: {{ listing.location.name }}
        {% if user.is_authenticated and listing.provider == user.profile %}
        <a href="{% url 'edit_listing' listing.id %}">Edit</a>
        {% endif %}

    </li>
    {% empty %}
    <li>No services listed yet.</li>
    {% endfor %}
</ul>
{% endblock %}