{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SKILLSHOP</title>
<!-- Custom CSS --> 
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <a href="{% url 'home' %}">Home</a>

  {% if user.is_authenticated %}
      | <a href="{% url 'profile' %}">My Profile</a>
      {% if user.profile.is_provider %}
        | <a href="{% url 'create_listing' %}">Create Listing</a>
      {% endif %}
      | <a href="{% url 'account_logout' %}">Logout</a>
  {% else %}
      | <a href="{% url 'account_login' %}">Login</a>
      | <a href="{% url 'account_signup' %}">Sign Up</a>
  {% endif %}
</nav>
<hr>

{% block content %}
{% endblock %}


</body>
</html>
